In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime, date, time 
from scipy import stats
from sklearn.model_selection import train_test_split

In /home/elaheh/.local/lib/python3.6/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle:
The text.latex.preview rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In /home/elaheh/.local/lib/python3.6/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle:
The mathtext.fallback_to_cm rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In /home/elaheh/.local/lib/python3.6/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle: Support for setting the 'mathtext.fallback_to_cm' rcParam is deprecated since 3.3 and will be removed two minor releases later; use 'mathtext.fallback : 'cm' instead.
In /home/elaheh/.local/lib/python3.6/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle:
The validate_bool_maybe_none function was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In /home/elaheh/.local/lib/python3.6/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle:
The savefig.jpeg_quality rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In /home/elaheh/.local/lib/python3.6/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle:
The keymap.all_axes rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In /home/elaheh/.local/lib/python3.6/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle:
The animation.avconv_path rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In /home/elaheh/.local/lib/python3.6/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle:
The animation.avconv_args rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.

# Read Data!

In [3]:
data = pd.read_csv("../airlines_data/data_flights_of_OO_airlines_%10.csv")
print('shape of data:', data.shape)
data.head(4)

shape of data: (554286, 23)

,Unnamed: 0,AIRLINE,airport_A,airport_B,airport_C,turnaround_time_ B,DEPARTURE_DELAY_AB,ARRIVAL_DELAY_AB,ELAPSED_TIME_AB,DISTANCE_AB,...,DEPARTURE_day_AB,DEPARTURE_month_AB,ARRIVAL_HOUR_AB,ARRIVAL_weekday_AB,ARRIVAL_day_AB,ARRIVAL_month_AB,SCHEDULED_DEPARTURE_HOUR_BC,SCHEDULED_DEPARTURE_weekday_BC,SCHEDULED_DEPARTURE_day_BC,SCHEDULED_DEPARTURE_month_BC
0,21901,OO,SLC,ORD,SLC,0.783333,6.0,25.0,218.0,1250,...,1,1,12,3,1,1,12,3,1,1
1,21902,OO,ORD,SLC,ORD,0.550000,32.0,18.0,209.0,1250,...,1,1,15,3,1,1,16,3,1,1
2,21903,OO,SLC,ORD,MSP,10.983333,11.0,11.0,191.0,1250,...,1,1,20,3,1,1,7,4,2,1
3,21904,OO,ORD,MSP,ORD,0.466667,36.0,30.0,89.0,334,...,2,1,9,4,2,1,9,4,2,1

In [4]:
data.columns

Index(['Unnamed: 0', 'AIRLINE', 'airport_A', 'airport_B', 'airport_C',
       'turnaround_time_ B', 'DEPARTURE_DELAY_AB', 'ARRIVAL_DELAY_AB',
       'ELAPSED_TIME_AB', 'DISTANCE_AB', 'DISTANCEBC', 'DEPARTURE_HOUR_AB',
       'DEPARTURE_weekday_AB', 'DEPARTURE_day_AB', 'DEPARTURE_month_AB',
       'ARRIVAL_HOUR_AB', 'ARRIVAL_weekday_AB', 'ARRIVAL_day_AB',
       'ARRIVAL_month_AB', 'SCHEDULED_DEPARTURE_HOUR_BC',
       'SCHEDULED_DEPARTURE_weekday_BC', 'SCHEDULED_DEPARTURE_day_BC',
       'SCHEDULED_DEPARTURE_month_BC'],
      dtype='object')

In [5]:
len_unseen = int(len(data)*.1)
len_seen = int(len(data)*.9)

In [6]:
data_unseen = data.sample(len_unseen)
data_seen = data.drop(len_seen)

In [7]:
data_seen.to_csv('data_seen_OO_airlines.csv')
data_unseen.to_csv('data_unseen_OO_airlines.csv')